<div class="container">
    <nav-bar [pageName]="'ingredients'"></nav-bar>
    <button type="button" class="btn btn-primary addBtn" (click)="openModal()">Add Ingredient</button>
</div>
<br>
<category-accordion [categoryName]="'Vegetable'"></category-accordion>
<category-accordion [categoryName]="'Fruit'"></category-accordion>
<category-accordion [categoryName]="'Protein'"></category-accordion>
<category-accordion [categoryName]="'Grain'"></category-accordion>
<category-accordion [categoryName]="'Fat'"></category-accordion>
<category-accordion [categoryName]="'Dressing'"></category-accordion>
<category-accordion [categoryName]="'Condiment'"></category-accordion>

<add-edit-ingredient-modal></add-edit-ingredient-modal>