<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
                <img src="../assets/food-dome.png" class="img-responsive home-link" alt="Brand" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li id="recipes"><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
                <li id="ingredients"><a routerLink="/ingredients" routerLinkActive="active">Ingredients</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a routerLink="/login" routerLinkActive="active">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br><br><br>