.panel-heading {
    padding-left: 5%;
    background-color: #8ad6fc;
}

thead {
    background-color: #8ad6fc;
}

.indicator {
    padding-top: 10px;
    padding-left: 15px;
}

.glyphicon-edit, .glyphicon-trash {
    cursor: pointer;
    padding-left: 5px;
}