<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <i *ngIf="isExpanded" class="indicator glyphicon glyphicon-chevron-down pull-left"></i>
            <i *ngIf="!isExpanded" class="indicator glyphicon glyphicon-chevron-right pull-left"></i>
            <div class="panel-heading" (click)="toggleExpand()">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="">
                        {{getPlural(categoryName)}}
                    </a>
                </h4>
            </div>
            <div id="collapse-{{categoryName}}" class="panel-collapse collapse in">
                <div class="panel-body" *ngIf="isExpanded">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><h4>Name</h4></th>
                            <th><h4>Metric</h4></th>
                            <th><h4>Amount</h4></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ingredient of ingredients">
                            <td>{{ingredient.name}}</td>
                            <td>{{ingredient.metric}}</td>
                            <td>{{ingredient.amount}}</td>
                            <td>
                                <i class="glyphicon glyphicon-edit" (click)="openModal(ingredient)"></i>
                                <i class="glyphicon glyphicon-trash" (click)="delete(ingredient)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<add-edit-ingredient-modal></add-edit-ingredient-modal>